@import "~vuetify/src/styles/styles.sass";

// The variables you want to modify
$font-size-root: 14px;

// For updating SASS lists
$material-light: map-merge(
    $material-light,
    (
        cards: #f14911
    )
);

$btn-border-radius: 0px;
